go-ai-cli/.util/chats/250625064707.json
go-ai-cli/.util/chats/250625064824.json
go-ai-cli/.api_key
openrouterkey.txt
go-ai-cli/.util/chats/*
go-ai-cli/build-script.ps1
.util/.api_key
go-ai-cli/aichat.exe
go-ai-cli/test.ps1
